<form class="user-form" (ngSubmit) = "userPolls(localRef)" #localRef=ngForm>
<div class="col-sm-12">
	<h3>Welcome to the Polls</h3>
</div>
<div class="col-sm-6" *ngIf="questions.length > 0">
   <div class="card">
      <div class="panel panel-primary" *ngFor = "let ques of questions;">
         <div class="panel-heading">
            <h3 class="panel-title">
               <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;{{ques['question']}}
            </h3>
         </div>
         <div class="panel-body two-col">
            <div class="row">
            	<div *ngFor = "let opt of options;">
               <div class="col-md-6" *ngIf="opt['q_id'] == ques.id">
                  <div class="well well-sm">
                  <div class="checkbox"></div>
										<label>
										<input type="radio" required name="options_radio_{{opt['q_id']}}" value="{{opt.id}}" ngModel>
										{{opt['options']}}
										</label>
                  </div>
               </div>
               </div>
            </div>
         </div>
	          
      </div>
   </div>
</div>
<div class="col-sm-12">
	<button type="submit" [disabled]="!localRef.valid" class="btn btn-success btn-sm form-control">
	Submit Polls</button>
</div>