.card{
	background-color: #f9f9f9;
	text-align: left;	
	margin: 5px;
	box-shadow: 0 6px 15px rgba(36,37,38,0.08);
	transition: box-shadow 0.25s ease, transform 0.25s ease;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}
.card:hover{
	box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}
input.ng-touched.ng-invalid{
  border:1px solid red;
}
