<div class="col-sm-6">
	<h3>Questions &amp; Votes</h3>
   <div *ngIf="questions.length > 0" class="card">
      <div class="panel panel-primary" *ngFor = "let ques of questions;">
         <div class="panel-heading">
            <h3 class="panel-title">
               <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;{{ques['question']}}
            </h3>
         </div>
         <div class="panel-body two-col">
            <div class="row">
            	<div *ngFor = "let opt of options;">
               <div class="col-md-6" *ngIf="opt['q_id'] == ques.id">
                  <div class="well well-sm">
                     <label>
                     {{opt['options']}}
                     </label>
                     <div class="btn btn-success btn-sm pull-right" *ngIf="opt['option_votes'] > 0">
                        &nbsp;{{opt['option_votes']}}&nbsp;
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-sm-6">
   <h3>Add new Question</h3>
   <div class="card">
   		<form class="ques-form" (ngSubmit) = "addQues(localRef)" #localRef=ngForm>
   		<div class="row">
				<div class="form-group">
	      	<input type="text" placeholder="Question" name="ques" required ngModel class="form-control" class="form-control">
	    	</div>
	    	<div class="form-group">
	      	<input type="text" placeholder="Option 1" name="opt1" required ngModel class="form-control">
	      </div>
	      <div class="form-group">
	      	<input type="text" placeholder="Option 2" name="opt2" required ngModel class="form-control">
	      </div>
	      <div class="form-group">
	      	<input type="text" placeholder="Option 3" name="opt3" ngModel class="form-control">
	      </div>
	      <div class="form-group">
	      	<input type="text" placeholder="Option 4" name="opt4" ngModel class="form-control">
	      </div>
	      <div class="form-group">
	      	<input type="text" placeholder="Option 5" name="opt5" ngModel class="form-control">
	      </div>
	      <div class="form-group">
	      	<button type="submit" [disabled]="!localRef.valid" class="btn-success form-control">Add Question</button>
	      </div>
	    </div>
	    </form>
   </div>
</div>