.text-center{
	text-align: center;
}
.card{
	background-color: #f9f9f9;
	
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 6px 15px rgba(36,37,38,0.08);
	transition: box-shadow 0.25s ease, transform 0.25s ease;
	background-color: #fff;
	height: 160px;
	padding: 20px;
	border-radius: 10px;
}
.card:hover{
	box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}
a{
	text-decoration: none;
}