
<div class="col-sm-6">
	<a [routerLink]="['/admin']">
	<div class="card">
		
		<h2>Admin</h2>
		<h4>Click here to add polls</h4>
	</div>
	</a>
</div>
<div class="col-sm-6">
	<a [routerLink]="['/user']">
	<div class="card">
		<h2>User</h2>
		<h4>Click here to participate in polls</h4>
	</div>
	</a>
</div>	
	