<div class="row text-center body-bg">
	<div class="col-sm-12">
		<h1 class="text-center headerStyle"><a [routerLink]="['/']" style="text-decoration: none;">POLLING 2017</a></h1>
		<router-outlet>
		</router-outlet>
	</div>
</div>