<div class="login-page">
  <div class="form">
  <h4>Admin Login</h4>
    <form class="login-form" (ngSubmit) = "signIn(localRef)" #localRef=ngForm>
      <input type="text" placeholder="username" name="email" required ngModel>
      <input type="password" placeholder="password" name="password" required ngModel>
      <button type="submit" [disabled]="!localRef.valid">Login</button>
    </form>
  </div>
</div>